@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.Services;
@using Newtonsoft.Json;
@using Umbraco.Core.PropertyEditors.ValueConverters

@{
    Layout = "Master.cshtml";

    IMemberService memberService = Services.MemberService;
    var members = memberService.GetMembersByGroup("Active");
}

<div class="container">

	<div class="row section">
		<div class="col-md-12">

            @foreach (var member in members)
            {
                var dataMember = Umbraco.Member(member.Id);
            
            
                if (member.HasProperty("Photo"))
                {
                    string image = member.GetValue<string>("Photo");
            
                    if (image != null)
                    {
                        ImageCropperValue imageCrop = JsonConvert.DeserializeObject<ImageCropperValue>(image);
                        string imagePath = imageCrop.Src.GetCropUrl(width: 100);
                        <img src="@imagePath" />
                        <br />
                        <br />
                    }
                }
                @member.Name
                <br>
                @member.GetValue("address")
                <br>
                @member.GetValue("zip")
                @member.GetValue("city")
                <br>
                <p>
                    Email:
                    @{
            
                        string email = member.GetValue("email").ToString();
                        @email
                    }
            
               <br />
                    Skills:
                    @{
            
                        if (member.GetValue("skills") != null)
                        {
                            string[] skills = member.GetValue("skills").ToString().Split(',');
                            string skillString = string.Join(", ", skills.Select(item => item)).Replace("\"", "").TrimStart('[').TrimEnd(']');
                             @skillString
                            }
            
            
                        }
                </p>
                 <br /> <br /> <br /> <br />
            
            }

        </div>
    </div>
</div>
