@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectsViewModel>
@using AarhusWebDevCoop.ViewModels;
@{
    Layout = "Master.cshtml";
}
<!DOCTYPE HTML>
<html>
<body>

    <!-- Jumbotron, w title -->
    <div class="jumbotron text-center jumbotron-fluid">
        <div class="container">

            <p>What we do when we do what we do - and why!</p>
        </div>
    </div>

    <div class="sidenav">
        <ul>
            @{
                foreach (var item in Model.ProjectStatusList)
                {
                    <li class="nav-item @(item.ToLower() == Model.ProjectStatus.ToLower() ? "current" : null)">
                        <a href="@item.ToLower()">@item</a>
                    </li>
                }
            }
        </ul>
    </div>

    <!-- Main container -->
    <div class="container">


        <div class="row section">
            <div class="col-md-12">
                <h3>Projects</h3>



                <section>
                    @foreach (var item in Model.Projects)
                    {
                        <div class="project">
                            <div class="projecttitle"><a href="@item.Url()">@item.Name</a></div>
                            <div class="projectpreview">
                                @Html.Raw(item.Value("projectDescription").ToString().Truncate(100))
                                <a href="@item.Url()">Read More..</a>
                            </div>
                        </div>
                        <hr />
                    }
                </section>

                <!-- Scripts -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

            </div>
        </div>
    </div>

</body>
</html>