

@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<!DOCTYPE HTML>
<html>


<!-- Jumbotron, w title -->
<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">@Model.ProjectsTitle</h1>
        <p>What we do when we do what we do - and why!</p>
    </div>
</div>asd

<!-- Main container -->
<div class="container">

    <!-- Featured blogpost -->
    <div class="row section">
        <div class="col-md-12">
            @Model.ProjectsBodyText
        </div>
    </div>

    <!-- Latest blog posts -->
    <div class="row section">
        <div class="col-md-12">
            <h3>Projects</h3>


            @{
                var selection = Umbraco.Content(Guid.Parse("c2dc0d55-cc17-4cc8-a11c-ea9ed8cabaa6"))
                .ChildrenOfType("projectItem")
                .Where(x => x.IsVisible())
                .OrderByDescending(x => x.CreateDate);
            }
            <ul>
                @foreach (var item in selection)
                {
                    <article class="special">
                        <div class="projectDate"> @item.CreateDate </div>
                        <div>@item.Value("projectStatus") </div>
                        <div class="ProjectTitle"><a href="@item.Url">@item.Name</a></div>
                    </article>
                    <br>
                    <br>
                }
            </ul>







        </div>
    </div>


</div>



<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	</body>
</html>